<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60000" debug="true">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="APP_NAME" value="xxxxx"/>
    <property name="LOG_HOME" value="${LOG_HOME}"/>
    <property name="LOG_LEVEL" value="${LOG_LEVEL}"/>

    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度，%logger: 日志输出者的名字, %msg：日志消息，%n是换行符 -->
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [ %thread ] - [ %-5level ] [ %logger{50} : %line ] - %msg%n"/>
    <contextName>${APP_NAME}</contextName>

    <!--记录warn和Error级别-->
    <appender name="RollingWarnOrErrorLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/${APP_HOME}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/logs/${APP_HOME}/warnOrError.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--记录info级别-->
    <appender name="RollingInfoLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/${APP_HOME}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/logs/${APP_HOME}/info.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.springframework" level="debug" additivity="false"/>

    <logger name="com.isyscore.ibo.mikilin" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RollingInfoLogger"/>
        <appender-ref ref="RollingWarnOrErrorLogger"/>
    </logger>

    <logger name="com.isyscore.ibo.mikilin" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RollingInfoLogger"/>
        <appender-ref ref="RollingWarnOrErrorLogger"/>
    </logger>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="RollingWarnOrErrorLogger"/>
        <appender-ref ref="RollingInfoLogger"/>
    </root>

</configuration>
